type file
id rustup
projecturl https://rustup.rs/
authors The Rust Project Developers
licenseurl https://github.com/rust-lang-nursery/rustup.rs/blob/master/LICENSE-MIT
iconurl http://www.rust-lang.org/logos/rust-logo-128x128-blk.png
description
    rustup is an installer for the systems programming language Rust
tags rust, language, programming, development
files
    chocolateyinstall.ps1 ==> tools